# Dependências
node_modules/

# Banco de dados
backend/*.db
backend/*.db-journal
backend/*.db-wal
backend/*.db-shm

# Variáveis de ambiente
.env
.env.local

# Build do frontend
frontend/dist/

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# VS Code
.vscode/
